<h1>Check Text matching</h1>

<%= form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <%end%>
    <%end%>

    <p>
        <%= f.label :bodyone %>
        <%= f.file_field :bodyone, required: true%>
    </p>
    <p>
        <%= f.label :bodytwo %>
        <%= f.file_field :bodytwo, required: true %>
    </p>


    <p>
        <%= f.button :"Check Result", class: 'btn btn-primary' %>
    </p>
<% end %>
