<p id="notice"><%= notice %></p>

<p>
  <strong>Fileone:</strong>
  <%= @test.fileone %>
</p>

<p>
  <strong>Filetwo:</strong>
  <%= @test.filetwo %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
